# PostgreSQL / Supabase
DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?pgbouncer=true&sslmode=require"

# Server
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:4200

# JWT (genera uno con: openssl rand -hex 64)
JWT_SECRET=your-256-bit-hex-secret
JWT_ISSUER=vuelos-api
JWT_AUDIENCE=vuelos-client
JWT_EXPIRES_IN=2h

# Puertos de cada microservicio (solo necesarios en desarrollo local)
AUTH_SERVICE_PORT=3001
CATALOG_SERVICE_PORT=3002
FLIGHTS_SERVICE_PORT=3003
GRPC_PORT=50051
BOOKING_SERVICE_PORT=3004
PAYMENTS_SERVICE_PORT=3005
ADMIN_SERVICE_PORT=3006
